<div class="price">
    <div class="price_header">
      <h3>Ready to Unlock Premium?</h3>
      <a href="#">View all pricing plans</a>
    </div>
    <div class="price_content">
      <div class="price_singal_card">
        <h5>Single</h5>
        <p>For teams and developers</p>
        <span style="color: aliceblue;"><span>$9.99</span>/month</span>
        <a href="#">Join Now</a>
      </div>
      <div class="price_singal_card">
        <h5>Duo</h5>
        <p>Advanced collaboration and support for teams</p>
        <span style="color: aliceblue;"><span>$12.99</span>/month</span>
        <a href="#">Continue with team</a>
      </div>
      <div class="price_singal_card">
        <h5>Family</h5>
        <p>Security and flexible deployment</p>
        <span style="color: aliceblue;"><span>$14.99</span>/month</span>
        <a href="#">Contact Sales</a>
      </div>
    </div>
  </div>